.logo__name, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-w, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-e, .calendar .ui-datepicker-next .ui-icon-circle-triangle-w, .calendar .ui-datepicker-next .ui-icon-circle-triangle-e { font: 0/0 a; text-shadow: none; color: transparent; }

.layout, .anonses { *zoom: 1; }
.layout:before, .anonses:before, .layout:after, .anonses:after { content: ""; display: table; }
.layout:after, .anonses:after { clear: both; }

@font-face { font-family: "pfdin_light"; src: url("../fonts/pfdintextcomppro-light-webfont.eot"); src: url("../fonts/pfdintextcomppro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-light-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-light-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_reg"; src: url("../fonts/pfdintextcomppro-regular-webfont.eot"); src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_thin"; src: url("../fonts/pfdintextcomppro-thin-webfont.eot"); src: url("../fonts/pfdintextcomppro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-thin-webfont.svg#pf_din_text_comp_prothin") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: Calibri, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; color: #3f3f3f; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #007cb0; text-decoration: none; }
a:hover { color: #009fe1; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Calibri, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.has-sidebar { overflow: hidden; }
.has-sidebar .footer, .has-sidebar .wrap { -webkit-transform: translate(230px, 0); -moz-transform: translate(230px, 0); -ms-transform: translate(230px, 0); -o-transform: translate(230px, 0); transform: translate(230px, 0); -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.has-sidebar .ss { -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; left: 0; }

.ss { position: fixed; left: -230px; width: 204px; padding-left: 26px; top: 0; height: 100%; overflow: auto; background: #545454; }

.wrap { width: 980px; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -285px; }
@media only screen and (max-width: 980px) { .wrap { width: auto; margin: 0 10px; } }

.wrap_p404 { margin: 0 auto 0; }

.wrap_scroll { padding-top: 180px; }
.wrap_scroll .header { position: fixed; top: 0; left: 50%; width: 980px; height: 83px; margin-left: -490px; background: white; z-index: 1000; }
@media only screen and (max-width: 980px) { .wrap_scroll .header { position: absolute !important; width: auto; height: 100px; } }
.wrap_scroll .header:before, .wrap_scroll .header:after { content: ""; position: absolute; top: 0; left: -2000px; right: -2000px; height: 83px; background: white; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26); border-bottom: 1px solid darkgrey; z-index: -10; }
.wrap_scroll .header .nav { margin: 26px 15px 0 0; }
.wrap_scroll .header .nav li { display: none; }
.wrap_scroll .header .nav li:first-child { display: block; }
.wrap_scroll .header .search { display: none; }
.wrap_scroll .header .logo { margin: 31px 0 0 20px; }
.wrap_scroll .header .logo span { display: none; }
.wrap_scroll .header .home { top: 26px; }
.wrap_scroll .header .social { width: 50px; top: 23px; }
.wrap_scroll .header .social a { float: left; margin: 0 0 5px 5px; }

.push { height: 285px; clear: both; }
@media only screen and (max-width: 980px) { .push { display: none; } }

.h2, .h3 { margin-bottom: 20px; font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-size: 40px; font-weight: normal; text-transform: uppercase; line-height: 1; color: black; }

.h2 { font-size: 45px; }
@media only screen and (max-width: 980px) { .h2 { font-size: 20px; } }

.h3 { font-size: 36px; }

.title { margin-bottom: 25px; text-transform: uppercase; font-weight: normal; font-size: 20px; color: #454545; }

.header { position: relative; height: 180px; }
@media only screen and (max-width: 980px) { .header { height: 100px; overflow: hidden; } }
@media only screen and (max-width: 700px) { .header { height: 75px; } }

.header_p404 { height: 120px; }

.home { position: absolute; top: 36px; left: 355px; background: url('../img/icons-scbf4cdecbf.png') 0 -1330px no-repeat; width: 32px; height: 32px; }
@media only screen and (max-width: 980px) { .home { display: none; } }
.home:hover { background: url('../img/icons-scbf4cdecbf.png') 0 -569px no-repeat; width: 32px; height: 32px; }

.logo { float: left; margin: 41px 0 0 20px; }
@media only screen and (max-width: 980px) { .logo { margin-left: 45px; margin-right: 15px; } }
@media only screen and (max-width: 700px) { .logo { margin: 20px 0 0 0; text-align: center; float: none; margin: 0; padding-top: 17px; } }
.logo span { text-transform: uppercase; font-size: 12px; color: black; }

.logo__name { background: url('../img/icons-scbf4cdecbf.png') 0 -386px no-repeat; width: 302px; height: 33px; margin: 0 auto; }
@media only screen and (max-width: 980px) { .logo__name { background: url('../img/icons-scbf4cdecbf.png') 0 -1132px no-repeat; width: 220px; height: 24px; } }

.social { position: absolute; top: 43px; right: 0; }
@media only screen and (max-width: 700px) { .social { display: none; top: 10px; } }
.social a { display: block; margin-bottom: 5px; }
@media only screen and (max-width: 980px) { .social a { display: inline-block; } }
.social a:hover { opacity: 0.6; }

.social__fb { background: url('../img/icons-scbf4cdecbf.png') 0 -1614px no-repeat; width: 20px; height: 20px; }

.social__tw { background: url('../img/icons-scbf4cdecbf.png') 0 -1454px no-repeat; width: 20px; height: 20px; }

.social__yt { background: url('../img/icons-scbf4cdecbf.png') 0 -1644px no-repeat; width: 20px; height: 20px; }

.social__rss { background: url('../img/icons-scbf4cdecbf.png') 0 -1484px no-repeat; width: 20px; height: 20px; }
@media only screen and (max-width: 980px) { .social__rss { display: none; } }

.social_big { position: relative; top: auto; right: auto; overflow: hidden; }
.social_big a { float: left; margin: 0 20px 0 0; }
.social_big .social__fb { background: url('../img/icons-scbf4cdecbf.png') 0 -1514px no-repeat; width: 40px; height: 40px; }
.social_big .social__tw { background: url('../img/icons-scbf4cdecbf.png') 0 -1279px no-repeat; width: 40px; height: 41px; }
.social_big .social__yt { background: url('../img/icons-scbf4cdecbf.png') 0 -1564px no-repeat; width: 40px; height: 40px; }

.header__menu { position: fixed; left: 10px; top: 35px; display: none; cursor: pointer; }
@media only screen and (max-width: 980px) { .header__menu { display: block; position: fixed; top: 35px; left: 10px; z-index: 200; background: url('../img/icons-scbf4cdecbf.png') 0 -2022px no-repeat; width: 30px; height: 30px; } }
@media only screen and (max-width: 700px) { .header__menu { top: 10px; } }
@media only screen and (max-width: 980px) { .has-sidebar .header__menu { left: 0px; top: 35px; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; } }

.nav { float: right; margin: 36px 15px 0 0; }
@media only screen and (max-width: 980px) { .nav { margin: 0; float: none; width: 45%; white-space: nowrap; padding-top: 41px; padding-left: 10px; margin-right: 40px; padding-left: 20px; overflow: hidden; } }
@media only screen and (max-width: 700px) { .nav { display: none; } }
.nav ul { float: left; width: 140px; padding-right: 20px; }
@media only screen and (max-width: 980px) { .nav ul { display: inline-block; width: 27%; float: none; } }
.nav ul:last-child { width: 200px; }
.nav li { padding: 2px 0 0 5px; margin-bottom: 5px; line-height: 1.2; }
@media only screen and (max-width: 980px) { .nav li { display: none; } }
.nav li:first-child { font-size: 24px; }
@media only screen and (max-width: 980px) { .nav li:first-child { display: inline; font-size: 19px; } }
.nav li.is-active { background: #a2a2a2; }
.nav li.is-active a { color: white; }
.nav a { font-family: "pfdin_reg", Calibri, Arial, sans-serif; color: #009fe1; text-transform: uppercase; }
.nav a:hover { color: black; }

.nav_mod { margin-right: 20px; margin-top: 44px; }
@media only screen and (max-width: 980px) { .nav_mod { margin-top: 0; text-align: center; width: 100%; position: static; padding-bottom: 20px; margin: 0; padding: 0; padding: 30px 0; } }
.nav_mod a { font-family: Calibri, Arial, Tahoma, sans-serif; font-size: 14px; color: #5a5a5a; text-transform: none; }
@media only screen and (max-width: 980px) { .nav_mod li { display: block; } }
.nav_mod li:first-child a { font-size: 18px; color: black; text-transform: uppercase; }
@media only screen and (max-width: 980px) { .nav_mod ul { display: inline-block; width: 25%; vertical-align: top; text-align: left; } }

.search { position: absolute; bottom: 0; left: 0; padding: 6px 0 6px 20px; background: #009fe1; }
@media only screen and (max-width: 980px) { .search { display: none; } }
.search input { float: left; width: 280px; height: 24px; background: white; padding: 0 10px; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 16px; }
.search input.placeholder { color: black; }
.search input:-moz-placeholder { color: black; }
.search input::-webkit-input-placeholder { color: black; }
.search button { float: left; background: url('../img/icons-scbf4cdecbf.png') 0 -758px no-repeat; width: 56px; height: 24px; }

.footer { border-top: 40px solid #bdbdbd; box-shadow: 0 0 0 5px #009fe1; background: #d4d4d4; }
@media only screen and (max-width: 980px) { .footer { position: relative; display: inline-block; width: 100%; } }

.footer_p404 { border: none; box-shadow: none; background: white; }
.footer_p404 .footer__in { width: 960px; height: 76px; margin-bottom: 20px; border-style: solid; border-color: #009fe1; border-width: 0 10px 20px 10px; }
.footer_p404 .copyright { top: 0; left: 40px; }
.footer_p404 .created { top: 30px; left: 55px; }

.footer__in { position: relative; width: 980px; height: 245px; margin: 0 auto; }
@media only screen and (max-width: 980px) { .footer__in { width: auto; height: auto; position: static; } }

.subscribe { float: left; margin: 35px 0 0 20px; }
@media only screen and (max-width: 980px) { .subscribe { display: none; } }
@media only screen and (max-width: 700px) { .subscribe { display: block; margin: 20px auto; width: 300px; float: none; padding-bottom: 35px; } }
.subscribe label, .subscribe span { display: block; }
.subscribe span { padding-left: 10px; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 14px; text-transform: uppercase; color: #43392a; }
.subscribe input { float: left; width: 200px; height: 29px; padding: 0 9px; border-top: 1px solid #9d9d9d; border-left: 1px solid #9d9d9d; border-right: 1px solid #cecece; border-bottom: 1px solid #cecece; font-size: 20px; }
.subscribe button { float: left; width: 60px; height: 31px; margin-left: 18px; background: #009fe1; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 24px; color: white; text-transform: uppercase; }

.subscribe_aside { margin: 0 0 20px 0; }
.subscribe_aside span { padding: 0; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 30px; text-align: center; color: #606060; }
.subscribe_aside input { width: 200px; margin: 0 0 17px 0; }
.subscribe_aside button { margin-left: 80px; }

.copyright { position: absolute; top: 135px; left: 5px; color: black; }
@media only screen and (max-width: 980px) { .copyright { position: absolute; top: -40px; height: 40px; line-height: 40px; text-align: center; width: 100%; left: 0; } }

.created { position: absolute; top: 175px; left: 20px; color: #616161; }
@media only screen and (max-width: 980px) { .created { display: none; } }
.created a { color: #0076a7; text-decoration: underline; }

.all { text-align: center; }
.all a { display: inline-block; position: relative; padding-right: 41px; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 22px; text-transform: uppercase; color: #007cb0; }
.all a:hover { color: #00b4ff; }
.all a:hover .all__arr { background: url('../img/icons-scbf4cdecbf.png') 0 -1413px no-repeat; width: 31px; height: 31px; }

.all__arr { position: absolute; top: -2px; right: 0px; background: url('../img/icons-scbf4cdecbf.png') 0 -1372px no-repeat; width: 31px; height: 31px; }

.digit-day .h3 { margin-bottom: 5px; font-size: 30px; text-align: center; color: #858585; }
@media only screen and (max-width: 980px) { .digit-day .h3 { font-size: 20px; } }

.digit-day__in { border: 6px solid #adadad; padding: 22px 20px; overflow: hidden; }
@media only screen and (max-width: 980px) { .digit-day__in { padding: 12px 15px; } }
.digit-day__in span { display: block; margin-right: 20px; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 72px; color: #3f3f3f; line-height: 1.2; margin-right: 0; }
@media only screen and (max-width: 980px) { .digit-day__in span { font-size: 48px; } }
.digit-day__in p { overflow: hidden; font-size: 18px; line-height: 1.5; }
@media only screen and (max-width: 980px) { .digit-day__in p { font-size: 16px; } }

.digit-day_aside { margin-bottom: 20px; }
.digit-day_aside .digit-day__in { padding: 15px; text-align: center; }
.digit-day_aside .digit-day__in span { float: none; display: block; font-size: 60px; line-height: 1; }
.digit-day_aside .digit-day__in p { font-size: 14px; }

.announcement .h3 { margin-bottom: 5px; font-size: 30px; text-align: center; color: #007cb0; }
@media only screen and (max-width: 980px) { .announcement .h3 { font-size: 20px; } }

.announcement__in { position: relative; min-height: 60px; padding: 25px 18px 45px 18px; border: 6px solid #009fe1; }

.announcement__slider { font-size: 18px; text-align: center; }
@media only screen and (max-width: 980px) { .announcement__slider { font-size: 16px; } }
.announcement__slider li { width: 412px; }
@media only screen and (max-width: 980px) { .announcement__slider li { width: 100%; } }
.announcement__slider a { display: block; color: black; }
.announcement__slider a:hover { color: #009fe1; }

.announcement__navi { position: absolute; left: 0; right: 0; bottom: 20px; text-align: center; font-size: 0; }
.announcement__navi span { display: inline-block; width: 9px; height: 9px; margin: 0 9px; background: #f4f4f4; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4) inset; -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); cursor: pointer; }
.announcement__navi span.cycle-pager-active { background: #66c5ed; }

.announcement_aside { margin-bottom: 20px; }
.announcement_aside .announcement__in { padding: 15px 18px 45px 18px; }
.announcement_aside .announcement__slider { font-size: 14px; }
.announcement_aside .announcement__slider li { width: 172px; }

.calendar { padding: 12px 0; margin: 0 0 20px 0; border: 1px solid #bebebe; }

.calendar .ui-datepicker-calendar { width: 100%; }
.calendar .ui-datepicker-calendar thead { display: none; }
.calendar .ui-datepicker-calendar tbody { text-align: center; }
.calendar .ui-datepicker-calendar tbody td { display: inline-block; width: 28px; padding: 2px 0; vertical-align: top; font-size: 14px; color: #007cb0; }
.calendar .ui-datepicker-calendar tbody td a:hover { text-decoration: underline; }
.calendar .ui-datepicker-calendar tbody td.ui-datepicker-week-end a { color: #ff3600; }
.calendar .ui-datepicker-calendar tbody td.ui-datepicker-today { background: #009fe1; }
.calendar .ui-datepicker-calendar tbody td.ui-datepicker-today a { color: white; }
.calendar .ui-datepicker-calendar tbody td.ui-state-disabled { color: #a4a4a4; }
.calendar .ui-datepicker-calendar tbody td.ui-state-disabled.ui-datepicker-week-end { color: #ff977b; }
.calendar .ui-datepicker-prev, .calendar .ui-datepicker-next { position: absolute; top: 3px; z-index: 10; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.calendar .ui-datepicker-prev .ui-icon-circle-triangle-w, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-e, .calendar .ui-datepicker-next .ui-icon-circle-triangle-w, .calendar .ui-datepicker-next .ui-icon-circle-triangle-e { display: block; cursor: pointer; }
.calendar .ui-datepicker-prev { left: 14px; }
.calendar .ui-datepicker-prev .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1995px no-repeat; width: 9px; height: 17px; }
.calendar .ui-datepicker-prev:hover .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1166px no-repeat; width: 9px; height: 17px; }
.calendar .ui-datepicker-prev.ui-state-disabled:hover .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1995px no-repeat; width: 9px; height: 17px; cursor: default; }
.calendar .ui-datepicker-next { right: 14px; }
.calendar .ui-datepicker-next .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1968px no-repeat; width: 9px; height: 17px; }
.calendar .ui-datepicker-next:hover .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1105px no-repeat; width: 9px; height: 17px; }
.calendar .ui-datepicker-next.ui-state-disabled:hover .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1968px no-repeat; width: 9px; height: 17px; cursor: default; }
.calendar .ui-datepicker-year { font-size: 18px; }
.calendar .ui-datepicker-header { position: relative; margin-bottom: 5px; text-align: center; }
.calendar .ui-datepicker-title { display: inline-block; font-size: 18px; }

.calendar_wide { margin: 0 20px 65px 20px; }
.calendar_wide .ui-datepicker-calendar tbody td { font-size: 17px; }
.calendar_wide .ui-datepicker-calendar tr { display: inline-block; }
.calendar_wide .ui-datepicker-calendar td.ui-datepicker-other-month { display: none; }
.calendar_wide .ui-datepicker-title { font-size: 24px; }
.calendar_wide .ui-datepicker-year { font-size: 24px; }
.calendar_wide .ui-datepicker-prev, .calendar_wide .ui-datepicker-next { top: 39px; }
.calendar_wide .ui-datepicker-prev { left: 14px; }
.calendar_wide .ui-datepicker-prev .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1934px no-repeat; width: 13px; height: 24px; }
.calendar_wide .ui-datepicker-prev:hover .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1071px no-repeat; width: 13px; height: 24px; }
.calendar_wide .ui-datepicker-prev.ui-state-disabled:hover .ui-icon-circle-triangle-w { background: url('../img/icons-scbf4cdecbf.png') 0 -1934px no-repeat; width: 13px; height: 24px; }
.calendar_wide .ui-datepicker-next { right: 14px; }
.calendar_wide .ui-datepicker-next .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1880px no-repeat; width: 13px; height: 24px; }
.calendar_wide .ui-datepicker-next:hover .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1037px no-repeat; width: 13px; height: 24px; }
.calendar_wide .ui-datepicker-next.ui-state-disabled:hover .ui-icon-circle-triangle-e { background: url('../img/icons-scbf4cdecbf.png') 0 -1880px no-repeat; width: 13px; height: 24px; }

.pagination { margin-bottom: 80px; text-align: center; font-size: 0; }
.pagination a { display: inline-block; padding: 2px 10px; margin: 0 15px; font-size: 30px; color: #007cb0; line-height: 1; }
.pagination a.is-active { background: #898989; color: white; cursor: default; }
.pagination .pagination__prev, .pagination .pagination__next { position: relative; top: 2px; padding: 0; }

.pagination__prev { background: url('../img/icons-scbf4cdecbf.png') 0 -1934px no-repeat; width: 13px; height: 24px; }

.pagination__next { background: url('../img/icons-scbf4cdecbf.png') 0 -1880px no-repeat; width: 13px; height: 24px; }

.bread { text-transform: uppercase; color: black; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 18px; margin-bottom: 10px; line-height: 1; }
.bread a { color: black; text-decoration: none; }
.bread a.bread__parent { color: #959595; }
.bread i { background: url('../img/icons-scbf4cdecbf.png') 0 -1914px no-repeat; width: 5px; height: 10px; margin: 0 6px; vertical-align: middle; display: inline-block; position: relative; top: -3px; right: -1px; }

.published { font-size: 14px; color: #969696; margin-bottom: 20px; }

.js-cb { outline: none; }

#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; }

#cboxOverlay { position: fixed; width: 100%; height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft { clear: left; }

#cboxContent { position: relative; }

#cboxLoadedContent { position: relative; overflow: visible !important; -webkit-overflow-scrolling: touch; }

#cboxHead { position: absolute; bottom: 103%; left: 0; z-index: 1000; color: white; font-size: 18px; }

#cboxLoad { position: absolute; right: 60px; bottom: -36px; }
#cboxLoad a { position: relative; padding-left: 25px; font-size: 14px; color: #0084bb; text-decoration: underline; }
#cboxLoad a:before { content: ""; position: absolute; top: -5px; left: 0; background: url('../img/icons-scbf4cdecbf.png') 0 -815px no-repeat; width: 25px; height: 30px; }

#cboxTitle { margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

.cboxPhoto { float: left; margin: auto; border: 0; display: block; max-width: none; -ms-interpolation-mode: bicubic; }

.cboxIframe { width: 100%; height: 100%; display: block; border: 0; }

#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; }

#cboxOverlay { background: black; }

#colorbox { outline: 0; }

#cboxTopLeft { width: 8px; height: 8px; background: white; }

#cboxTopCenter { height: 8px; background: white; }

#cboxTopRight { width: 8px; height: 8px; background: white; }

#cboxBottomLeft { width: 8px; height: 53px; background: white; }

#cboxBottomCenter { height: 53px; background: white; }

#cboxBottomRight { width: 8px; height: 53px; background: white; }

#cboxMiddleLeft { width: 8px; background: white; }

#cboxMiddleRight { width: 8px; background: white; }

#cboxContent { background: white; overflow: visible; }

.cboxIframe { background: white; }

#cboxError { padding: 50px; border: 1px solid #cccccc; }

#cboxLoadingOverlay { background: url(../img/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic { background: url(../img/loading.gif) no-repeat center center; }

#cboxTitle { position: absolute; bottom: -35px; left: 150px; right: 200px; color: black; font-size: 14px; }

#cboxCurrent { position: absolute; bottom: -35px; left: 59px; width: 50px; font-weight: bold; text-align: center; color: black; }

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0; padding: 0; margin: 0; overflow: visible; position: absolute; text-indent: -9999px; }

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0; }

#cboxPrevious { left: 40px; bottom: -37px; }

#cboxNext { left: 105px; bottom: -37px; }

#cboxClose { right: 0; bottom: -39px; }

.cboxSlideshow_on #cboxSlideshow { left: 0px; bottom: -35px; }

.cboxSlideshow_off #cboxSlideshow { left: 0px; bottom: -35px; }

#cboxPrevious { background: url('../img/icons-scbf4cdecbf.png') 0 -855px no-repeat; width: 23px; height: 23px; }

#cboxNext { background: url('../img/icons-scbf4cdecbf.png') 0 -931px no-repeat; width: 23px; height: 23px; }

.cboxSlideshow_on #cboxSlideshow { background: url('../img/icons-scbf4cdecbf.png') 0 -1193px no-repeat; width: 20px; height: 20px; }

.cboxSlideshow_off #cboxSlideshow { background: url('../img/icons-scbf4cdecbf.png') 0 -964px no-repeat; width: 20px; height: 20px; }

#cboxClose { background: url('../img/icons-scbf4cdecbf.png') 0 -723px no-repeat; width: 25px; height: 25px; }

.logo__name, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-w, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-e, .calendar .ui-datepicker-next .ui-icon-circle-triangle-w, .calendar .ui-datepicker-next .ui-icon-circle-triangle-e { font: 0/0 a; text-shadow: none; color: transparent; }

.layout, .anonses { *zoom: 1; }
.layout:before, .anonses:before, .layout:after, .anonses:after { content: ""; display: table; }
.layout:after, .anonses:after { clear: both; }

@font-face { font-family: "pfdin_light"; src: url("../fonts/pfdintextcomppro-light-webfont.eot"); src: url("../fonts/pfdintextcomppro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-light-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-light-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_reg"; src: url("../fonts/pfdintextcomppro-regular-webfont.eot"); src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_thin"; src: url("../fonts/pfdintextcomppro-thin-webfont.eot"); src: url("../fonts/pfdintextcomppro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-thin-webfont.svg#pf_din_text_comp_prothin") format("svg"); font-weight: normal; font-style: normal; }

.layout { position: relative; margin-bottom: 50px; }
.layout .aside, .layout .right { position: relative; margin-top: -85px; z-index: 10; }
.layout .aside { margin-left: 10px; padding: 15px 0 0 10px; }
.layout .right { width: 740px; }
.layout .right_big { width: 700px; padding: 20px 10px 0 20px; background: white; }

.layout_mod .aside, .layout_mod .right { margin-top: -128px; }

.layout__pic { min-height: 130px; background: #dddddd; }
.layout__pic img { display: block; }

.layout__in { position: relative; margin: -85px 10px 10px 10px; padding: 20px 10px 10px 10px; background: white; z-index: 10; }

.aside { float: left; width: 220px; background: rgba(255, 255, 255, 0.9); }

.right { float: left; width: 700px; }

.right_mod .right__col-2 { margin-top: 110px; }

.right__col-1 { float: left; width: 540px; padding: 20px; background: white; }

.right__col-2 { overflow: hidden; margin-top: 148px; }

.logo__name, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-w, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-e, .calendar .ui-datepicker-next .ui-icon-circle-triangle-w, .calendar .ui-datepicker-next .ui-icon-circle-triangle-e { font: 0/0 a; text-shadow: none; color: transparent; }

.layout, .anonses { *zoom: 1; }
.layout:before, .anonses:before, .layout:after, .anonses:after { content: ""; display: table; }
.layout:after, .anonses:after { clear: both; }

@font-face { font-family: "pfdin_light"; src: url("../fonts/pfdintextcomppro-light-webfont.eot"); src: url("../fonts/pfdintextcomppro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-light-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-light-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_reg"; src: url("../fonts/pfdintextcomppro-regular-webfont.eot"); src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_thin"; src: url("../fonts/pfdintextcomppro-thin-webfont.eot"); src: url("../fonts/pfdintextcomppro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-thin-webfont.svg#pf_din_text_comp_prothin") format("svg"); font-weight: normal; font-style: normal; }

.main { position: relative; margin-bottom: 50px; }
@media only screen and (max-width: 980px) { .main { margin-bottom: 25px; } }
@media only screen and (max-width: 700px) { .main { margin-bottom: 10px; } }

.main__pic img { display: block; }
@media only screen and (max-width: 980px) { .main__pic img { width: 100%; } }
.main__pic:hover .main__title { width: 520px; }
@media only screen and (max-width: 980px) { .main__pic:hover .main__title { width: 440px; } }
@media only screen and (max-width: 700px) { .main__pic:hover .main__title { width: auto; } }
.main__pic:hover .main__title strong { font-size: 29px; }
@media only screen and (max-width: 980px) { .main__pic:hover .main__title strong { font-size: 22px; } }
@media only screen and (max-width: 700px) { .main__pic:hover .main__title strong { font-size: 14px; } }

.main__title { position: absolute; bottom: 0; left: 0; width: 440px; padding: 25px 20px; background: rgba(0, 0, 0, 0.6); -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; }
@media only screen and (max-width: 700px) { .main__title { text-align: center; width: auto; margin: 0 10px; padding: 10px 15px; } }
.main__title span { padding: 0 3px; background: #009fe1; color: white; }
@media only screen and (max-width: 980px) { .main__title span { position: absolute; top: -0.5em; } }
@media only screen and (max-width: 700px) { .main__title span { position: static; color: #999999; background: transparent; margin-bottom: 8px; } }
.main__title strong { display: block; padding-top: 5px; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; font-size: 25px; font-weight: normal; line-height: 1.2; color: white; }
@media only screen and (max-width: 980px) { .main__title strong { font-size: 22px; padding-top: 0; } }
@media only screen and (max-width: 700px) { .main__title strong { font-size: 15px; } }

.main__news { position: absolute; top: 0; right: 0; bottom: 0; width: 220px; padding: 14px 20px 0 20px; background: rgba(0, 0, 0, 0.6); }
@media only screen and (max-width: 980px) { .main__news { display: none; } }
.main__news a { display: block; margin-bottom: 20px; }
.main__news a:hover img { border-color: #009fe1; }
.main__news a:hover span { color: #90deff; }
.main__news img { margin-bottom: 3px; border: 3px solid white; }
.main__news span { color: white; }

.main-box { margin: 0 20px 35px 20px; overflow: hidden; }
@media only screen and (max-width: 980px) { .main-box { margin: 0 0 35px 0; } }
.main-box .digit-day, .main-box .announcement { float: left; width: 460px; }
@media only screen and (max-width: 980px) { .main-box .digit-day, .main-box .announcement { width: 49%; text-align: center; } }
@media only screen and (max-width: 700px) { .main-box .digit-day, .main-box .announcement { width: auto; float: none; } }
@media only screen and (max-width: 980px) { .main-box .announcement { float: right; } }
@media only screen and (max-width: 700px) { .main-box .announcement { float: none; margin-top: 20px; } }
.main-box .digit-day { margin-right: 20px; }
@media only screen and (max-width: 980px) { .main-box .digit-day { margin: 0; } }
.main-box .digit-day span { float: left; margin-right: 20px; }
@media only screen and (max-width: 980px) { .main-box .digit-day span { display: block; text-align: center; float: none; } }

.m-news, .m-projects { margin-bottom: 40px; }
.m-news .h2, .m-projects .h2 { text-align: center; font-size: 40px; line-height: 1.4; }
.m-news .list, .m-projects .list { margin: 0; }
.m-news .list__item, .m-projects .list__item { width: 300px; }
@media only screen and (max-width: 980px) { .m-news .list__item, .m-projects .list__item { width: 30%; } }
@media only screen and (max-width: 700px) { .m-news .list__item, .m-projects .list__item { width: auto; } }

.m-news .list__pic { width: 300px; height: 150px; }
@media only screen and (max-width: 980px) { .m-news .list__pic { width: auto; height: auto; } }
.m-news .list__title { font-size: 18px; }

.m-projects .list__title { text-align: center; font-size: 20px; }
.m-projects .list__pic { width: 300px; height: 210px; }
@media only screen and (max-width: 980px) { .m-projects .list__pic { width: auto; height: auto; } }
@media only screen and (max-width: 980px) { .m-projects .all { margin-top: 30px; } }

.m-projects + .about { margin-top: -30px; }

.about { padding: 50px 20px 110px 20px; text-align: center; font-size: 18px; }
@media only screen and (max-width: 980px) { .about { padding-top: 20px; padding-bottom: 40px; } }

.ss .social { position: static; margin: 20px 0; }
.ss .social a { background-color: white; }
.ss ul { list-style: none; line-height: 1; }
.ss .snav > li { font-size: 24px; text-transform: uppercase; color: white; text-decoration: none; border-bottom: 1px solid #161616; box-shadow: 0 1px 0 #9f9f9f; }
.ss .snav > li a { display: block; color: white; padding: 9px 0px 6px 0; }
.ss .snav > li a.is-active { color: #00b6f9; }
.ss .snav > li > ul li { font-size: 16px; border-top: 1px solid #616161; box-shadow: 0 -1px 0 #484848; }
.ss .snav > li > ul li > a { color: #cccccc; text-transform: uppercase; }
.ss .snav > li > ul li > a:hover { color: white; }
.ss .snav > li > ul li.is-parent > a { position: relative; padding-right: 26px; }
.ss .snav > li > ul li.is-parent > a:before { background: url('../img/icons-scbf4cdecbf.png') 0 -1806px no-repeat; width: 6px; height: 12px; position: absolute; right: 17px; top: 50%; margin-top: -6px; display: inline-block; content: " "; }
.ss .snav > li > ul li.is-parent.is-expanded > a:before { background: url('../img/icons-scbf4cdecbf.png') 0 -1828px no-repeat; width: 12px; height: 6px; }
.ss .snav > li > ul li ul { display: none; }
.ss .snav > li > ul li.is-expanded ul { display: block; }
.ss .subcontent ul { font-size: 16px; }
.ss .subcontent ul a { color: #cccccc; text-decoration: none; display: block; text-transform: none !important; }
.ss .subcontent ul li { text-transform: none; }
.ss .subcontent ul ul { margin-left: 15px; }

.logo__name, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-w, .calendar .ui-datepicker-prev .ui-icon-circle-triangle-e, .calendar .ui-datepicker-next .ui-icon-circle-triangle-w, .calendar .ui-datepicker-next .ui-icon-circle-triangle-e { font: 0/0 a; text-shadow: none; color: transparent; }

.layout, .anonses { *zoom: 1; }
.layout:before, .anonses:before, .layout:after, .anonses:after { content: ""; display: table; }
.layout:after, .anonses:after { clear: both; }

@font-face { font-family: "pfdin_light"; src: url("../fonts/pfdintextcomppro-light-webfont.eot"); src: url("../fonts/pfdintextcomppro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-light-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-light-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_reg"; src: url("../fonts/pfdintextcomppro-regular-webfont.eot"); src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfdin_thin"; src: url("../fonts/pfdintextcomppro-thin-webfont.eot"); src: url("../fonts/pfdintextcomppro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-thin-webfont.svg#pf_din_text_comp_prothin") format("svg"); font-weight: normal; font-style: normal; }

.menu { margin-bottom: 35px; }
.menu li { padding: 0 10px 15px 0; margin-bottom: 15px; border-bottom: 1px solid #b6b6b6; }
.menu li a.is-active { position: relative; font-weight: bold; display: block; }
.menu li a.is-active:after { content: ""; display: inline-block; background: url('../img/icons-scbf4cdecbf.png') 0 -1674px no-repeat; width: 8px; height: 15px; margin-left: 5px; }
.menu li ul { margin: 5px 0 -5px 0; }
.menu li li { border: none; padding: 0; margin-bottom: 2px; }
.menu li li a { font-size: 18px; text-transform: none; }
.menu li li ul { padding-left: 20px; }
.menu li li ul a { font-size: 16px; }
.menu li a { font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-size: 22px; color: black; text-transform: uppercase; display: block; }

.list { padding-left: 10px; margin: 0 -20px; font-size: 0; }

.list_photos .list__title { color: #5c5c5c; }

.list__item { display: inline-block; width: 220px; margin: 0 10px 50px 10px; vertical-align: top; }
@media only screen and (max-width: 980px) { .list__item { width: 30%; margin: 0 1% 2% 1%; } }
@media only screen and (max-width: 700px) { .list__item { width: auto; margin: 0 0 10px 0; border: 1px solid #d1d1d1; display: block; } }
.list__item:hover .list__pic:before { content: ""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; border: 5px solid #00b4ff; }
.list__item:hover .list__title { color: #00b4ff; }
.list__item:hover .list__title span { color: black; }

.list__pic, .list__video, .list__audio { position: relative; width: 220px; height: 130px; margin-bottom: 5px; background: #f3f3f3; }
@media only screen and (max-width: 980px) { .list__pic, .list__video, .list__audio { width: auto; } }
.list__pic img, .list__video img, .list__audio img { display: block; }
@media only screen and (max-width: 980px) { .list__pic img, .list__video img, .list__audio img { width: 100%; } }

.list__video { position: relative; width: 220px; height: 130px; background: black; }
.list__video img { opacity: 0.5; }
.list__video:before, .list__video:after { content: ""; position: absolute; top: 50%; left: 50%; }
.list__video:before { width: 60px; height: 60px; margin: -30px 0 0 -30px; background: white; border-radius: 50%; z-index: 10; }
.list__video:after { width: 0px; height: 0px; margin: -18px 0 0 -6px; border-style: solid; border-width: 19px 0 19px 20px; border-color: transparent transparent transparent #999999; z-index: 15; }

.list__audio i { position: absolute; top: 43px; left: 75px; background: url('../img/icons-scbf4cdecbf.png') 0 -1223px no-repeat; width: 48px; height: 46px; }

.list__title { font-size: 14px; color: #007cb0; }
@media only screen and (max-width: 980px) { .list__title { font-size: 13px; text-align: center; } }
@media only screen and (max-width: 700px) { .list__title { font-size: 13px; text-align: center; padding: 10px; } }
.list__title span { display: block; padding-top: 10px; font-size: 12px; color: #9f9f9f; }

.content { font-size: 16px; color: #403f3f; line-height: 1.4; }
.content p { margin-bottom: 1.3em; }
.content figure { margin: 20px -20px; }
.content figure img { display: block; }
.content figure figcaption { padding: 14px; font-size: 14px; background: #f6f6f6; display: block; }
.content blockquote { position: relative; padding: 25px; margin-bottom: 1.3em; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 30px; text-align: center; color: #009fe1; line-height: 1; }
.content blockquote:before, .content blockquote:after { position: absolute; left: 50%; margin-left: -3px; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 60px; }
.content blockquote:before { content: "\201c"; top: 0; }
.content blockquote:after { content: "\201d"; bottom: -37px; }
.content .figure_right { float: right; margin-right: -150px; width: 300px; margin-left: 20px; }
.content .figure_right img { width: 100%; }
.content .figure_big img { margin: 0 -160px 0 -240px; }
.content .figure_mod { margin-left: -20px; margin-right: -20px; }
.content .related { float: right; width: 252px; margin-right: -150px; margin-left: 20px; margin-top: 20px; margin-bottom: 20px; }
.content .fotos { margin: 20px -180px 20px -260px; position: relative; }
.content .years { font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 30px; color: #645f63; }

.content__news, .content__photo, .content__video { position: relative; margin: 20px -160px 40px -240px; }
.content__news .h3, .content__photo .h3, .content__video .h3 { text-align: center; }

.content__news .list { padding: 0; margin: 0 0 0 -10px; }
.content__news .list__item { margin: 0 10px; white-space: normal; }

.content__prev, .content__next { position: absolute; top: 105px; z-index: 100; }

.content__prev { left: -30px; background: url('../img/icons-scbf4cdecbf.png') 0 -994px no-repeat; width: 19px; height: 33px; }
.content__prev:hover { background: url('../img/icons-scbf4cdecbf.png') 0 -1742px no-repeat; width: 19px; height: 33px; }
.content__prev.disabled:hover { background: url('../img/icons-scbf4cdecbf.png') 0 -994px no-repeat; width: 19px; height: 33px; cursor: default; }

.content__next { right: -30px; background: url('../img/icons-scbf4cdecbf.png') 0 -888px no-repeat; width: 19px; height: 33px; }
.content__next:hover { background: url('../img/icons-scbf4cdecbf.png') 0 -1699px no-repeat; width: 19px; height: 33px; }
.content__next.disabled:hover { background: url('../img/icons-scbf4cdecbf.png') 0 -888px no-repeat; width: 19px; height: 33px; cursor: default; }

.content__photo ul { margin-left: -10px; }
.content__photo li { margin: 0 10px; }

.content__video { text-align: center; }
.content__video .list__item { text-align: left; }
.content__video .list__video:before, .content__video .list__video:after { content: ""; position: absolute; top: 50%; left: 50%; }
.content__video .list__video:before { width: 46px; height: 46px; margin: -23px 0 0 -23px; }
.content__video .list__video:after { margin: -11px 0 0 -8px; border-width: 12px 0 12px 20px; border-color: transparent transparent transparent black; }

.link { padding: 30px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.link a { font-size: 12px; color: #707070; }

.fotos .fotos__title { font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-weight: normal; text-align: center; font-size: 36px; margin-bottom: 20px; text-transform: uppercase; }
.fotos .fotos__item { float: left; width: 140px; height: 130px; margin-right: 20px; }
.fotos .fotos__item img { display: block; background: #cccccc; }
.fotos .fotos__caro { position: relative; margin-left: 32px; width: 940px; overflow: hidden; height: 130px; }
.fotos .fotos__caro .fotos__slides { position: absolute; left: 0; top: 0; width: 20000em; }
.fotos .fotos__next, .fotos .fotos__prev { position: absolute; bottom: 48px; cursor: pointer; }
.fotos .fotos__next { background: url('../img/icons-scbf4cdecbf.png') 0 -888px no-repeat; width: 19px; height: 33px; right: -23px; }
.fotos .fotos__prev { background: url('../img/icons-scbf4cdecbf.png') 0 -994px no-repeat; width: 19px; height: 33px; left: 0; }

.related { border: 4px solid #c2c2c2; padding: 20px; text-align: center; }
.related .related__title { font-size: 18px; color: black; font-family: "pfdin_light", Calibri, Arial, sans-serif; margin-bottom: 15px; text-transform: uppercase; }
.related .related__list { list-style: none; font-size: 16px; }
.related .related__list a { color: black; display: block; padding-top: 22px; margin-bottom: 10px; position: relative; }
.related .related__list a:before { content: " "; position: absolute; left: 50%; top: 0; background: url('../img/icons-scbf4cdecbf.png') 0 -1844px no-repeat; width: 9px; height: 9px; }

.tags { position: relative; margin-bottom: 20px; padding-left: 33px; font-size: 14px; color: #8d8d8d; font-family: "pfdin_thin", Calibri, Arial, sans-serif; }
.tags a { color: #8d8d8d; text-decoration: underline; }

.tags__icon { position: absolute; left: 0; top: 3px; background: url('../img/icons-scbf4cdecbf.png') 0 -792px no-repeat; width: 22px; height: 13px; }

.txt { margin-bottom: 35px; padding-right: 160px; font-size: 16px; line-height: 1.5; }

.likes { margin: 0 0 20px 33px; }

.anonses { margin-right: -20px; margin-bottom: 20px; }
.anonses .anonses__head { font-size: 45px; font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin-bottom: 20px; text-transform: uppercase; }

.anons { float: left; cursor: pointer; margin: 0 20px 20px 0; width: 202px; height: 176px; padding: 20px 5px 0 5px; border: 4px solid #00a1dc; text-align: center; color: #3f3f3f; }
.anons .anons__date { font-size: 16px; font-weight: bold; color: black; margin-bottom: 15px; padding-bottom: 20px; position: relative; }
.anons .anons__date:before { content: " "; position: absolute; left: 50%; margin-left: -5px; background: url('../img/icons-scbf4cdecbf.png') 0 -1844px no-repeat; width: 9px; height: 9px; bottom: 0; }
.anons .anons__content { font-size: 16px; line-height: 1.4; }

.press { margin-bottom: 60px; }
.press li { position: relative; padding-top: 50px; }
.press li:after { content: ""; position: absolute; left: 50%; top: 10px; margin-left: -6px; background: url('../img/icons-scbf4cdecbf.png') 0 -1785px no-repeat; width: 11px; height: 11px; }
.press li:first-child { padding: 0; }
.press li:first-child:after { display: none; }
.press a { font-size: 24px; color: #007cb0; line-height: 1.2; }
.press p { padding: 10px 0; }
.press span { font-size: 12px; color: #9f9f9f; }

.reporter { width: 340px; padding: 20px; background: #f4f4f4; }

.reporter__pic { float: left; width: 40px; height: 40px; background: #dadada; margin-right: 20px; }
.reporter__pic img { display: block; }

.reporter__info { overflow: hidden; }
.reporter__info a { font-size: 16px; font-weight: bold; text-transform: uppercase; color: black; }
.reporter__info p { margin-top: 2px; line-height: 1.5; }

.projects .h3 { margin-bottom: 10px; text-align: center; font-size: 30px; line-height: 1.4; }
.projects .list { text-align: center; }

.projects__list .list { margin: 0; padding: 0; margin: 0 -10px; }
.projects__list .list__item { width: 300px; }
@media only screen and (max-width: 980px) { .projects__list .list__item { width: 30%; } }
@media only screen and (max-width: 700px) { .projects__list .list__item { width: auto; } }
.projects__list .list__title { text-align: center; font-size: 20px; }
.projects__list .list__pic { width: 300px; height: 210px; }
@media only screen and (max-width: 980px) { .projects__list .list__pic { width: auto; height: auto; } }

.projects__types { margin-bottom: 30px; overflow: hidden; }
.projects__types a { float: left; width: 220px; margin-right: 20px; padding-bottom: 10px; border-bottom: 1px solid #b6b6b6; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 22px; color: black; text-transform: uppercase; }

.projects__desc { padding-bottom: 50px; font-size: 16px; }

.result { width: 700px; margin-bottom: 60px; }
.result .h2 { margin-bottom: 65px; }

.result__form { margin-bottom: 55px; overflow: hidden; }
.result__form input { float: left; width: 518px; height: 51px; margin-right: 20px; padding: 0 10px; border: 1px solid #adadad; font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-size: 36px; text-transform: uppercase; }
.result__form button { float: left; height: 53px; padding: 0 32px; background: #0084bb; }
.result__form button i { display: block; background: url('../img/icons-scbf4cdecbf.png') 0 -611px no-repeat; width: 36px; height: 51px; }

.result__value { margin-bottom: 50px; font-size: 16px; }

.result__list li { margin-bottom: 40px; }

.result__pic, .result__video { float: left; margin-right: 20px; }
.result__pic img, .result__video img { display: block; }

.result__video { position: relative; background: black; }
.result__video img { opacity: 0.5; }
.result__video:before, .result__video:after { content: ""; position: absolute; top: 50%; left: 50%; }
.result__video:before { width: 46px; height: 46px; margin: -23px 0 0 -23px; background: white; border-radius: 50%; z-index: 10; }
.result__video:after { width: 0px; height: 0px; margin: -11px 0 0 -8px; border-style: solid; border-width: 12px 0 12px 20px; border-color: transparent transparent transparent black; z-index: 15; }

.result__data { overflow: hidden; }

.result__title { margin-bottom: 10px; }
.result__title a { font-weight: bold; font-size: 22px; color: #007cb0; line-height: 1; }

.result__detail { color: #9f9f9f; font-size: 12px; }
.result__detail a { font-size: 12px; text-decoration: underline; color: #9f9f9f; }

.tag .h2 { margin-bottom: 40px; }

.tag__item { margin-bottom: 60px; overflow: hidden; }
.tag__item .all { padding-top: 15px; overflow: hidden; text-align: left; }

.tag__pic { float: left; margin-right: 20px; }
.tag__pic img { display: block; }

.tag__desc { overflow: hidden; }
.tag__desc a { font-size: 32px; color: #007cb0; }
.tag__desc p { margin-top: 10px; font-size: 18px; }

.tag__video .list__pic { background: black; }
.tag__video .list__pic img { opacity: 0.5; }
.tag__video .list__pic:before, .tag__video .list__pic:after { content: ""; position: absolute; top: 50%; left: 50%; }
.tag__video .list__pic:before { width: 46px; height: 46px; margin: -23px 0 0 -23px; background: white; border-radius: 50%; border: none; z-index: 10; }
.tag__video .list__pic:after { width: 0px; height: 0px; margin: -11px 0 0 -8px; border-style: solid; border-width: 12px 0 12px 20px; border-color: transparent transparent transparent black; z-index: 15; }
.tag__video .list__item:hover .list__pic { background: black; }
.tag__video .list__item:hover .list__pic img { opacity: 0.5; }
.tag__video .list__item:hover .list__pic:before, .tag__video .list__item:hover .list__pic:after { content: ""; position: absolute; top: 50%; left: 50%; }
.tag__video .list__item:hover .list__pic:before { width: 46px; height: 46px; margin: -23px 0 0 -23px; background: white; border-radius: 50%; border: none; z-index: 10; }
.tag__video .list__item:hover .list__pic:after { width: 0px; height: 0px; margin: -11px 0 0 -8px; border-style: solid; border-width: 12px 0 12px 20px; border-color: transparent transparent transparent black; z-index: 15; }

.tag__news { margin-bottom: 60px; }
.tag__news li { margin-bottom: 40px; }
.tag__news a { line-height: 1; font-size: 22px; color: #007cb0; }
.tag__news span { display: block; margin-top: 10px; font-size: 12px; color: #9f9f9f; }

.vilkul { margin-bottom: 120px; }

.vilkul__info { margin-bottom: 45px; padding: 0 80px; text-align: center; }
.vilkul__info p { font-size: 18px; }

.vilcul__nav { font-size: 0; }
.vilcul__nav a { position: relative; display: inline-block; width: 212px; padding: 113px 0 13px 0; margin-left: 20px; border: 4px solid #009fe1; text-align: center; text-transform: uppercase; font-family: "pfdin_reg", Calibri, Arial, sans-serif; font-size: 30px; color: black; }
.vilcul__nav a:first-child { margin: 0; }
.vilcul__nav i { position: absolute; top: 35px; left: 50%; margin-left: -40px; }

.vilcul__nav-bio { background: url('../img/icons-scbf4cdecbf.png') 0 -429px no-repeat; width: 80px; height: 60px; }

.vilcul__nav-press { background: url('../img/icons-scbf4cdecbf.png') 0 -499px no-repeat; width: 80px; height: 60px; }

.vilcul__nav-photo { background: url('../img/icons-scbf4cdecbf.png') 0 -316px no-repeat; width: 80px; height: 60px; }

.vilcul__nav-video { background: url('../img/icons-scbf4cdecbf.png') 0 -246px no-repeat; width: 80px; height: 60px; }

.p404 { padding-top: 35px; overflow: hidden; }

.p404__number { float: left; margin-right: 60px; background: url('../img/icons-scbf4cdecbf.png') 0 0 no-repeat; width: 250px; height: 236px; }

.p404__right { overflow: hidden; }
.p404__right .nav_mod { float: none; margin: 0 0 45px 0; overflow: hidden; }
.p404__right .nav_mod a { color: #0084bb; }
.p404__right .nav_mod li:first-child a { color: #0084bb; }

.p404__info { margin-bottom: 50px; }
.p404__info .h2 { font-family: Calibri, Arial, Tahoma, sans-serif; font-size: 30px; text-transform: none; }
.p404__info p { font-size: 18px; line-height: 1.5; }

.p404__search { margin-bottom: 55px; overflow: hidden; }
.p404__search input { float: left; width: 366px; height: 41px; margin-right: 20px; padding: 0 8px; border: 1px solid #adadad; font-family: "pfdin_thin", Calibri, Arial, sans-serif; font-size: 30px; }
.p404__search input.placeholder { color: black; }
.p404__search input:-moz-placeholder { color: black; }
.p404__search input::-webkit-input-placeholder { color: black; }
.p404__search button { float: left; height: 43px; padding: 0 24px; background: #0084bb; }
.p404__search button i { display: block; background: url('../img/icons-scbf4cdecbf.png') 0 -672px no-repeat; width: 30px; height: 41px; }

.load-pdf { padding-left: 33px; }
.load-pdf a { position: relative; display: block; width: 104px; padding: 50px 0 20px 0; border: 3px solid #adadad; text-align: center; }
.load-pdf a:after, .load-pdf a:before { content: ""; position: absolute; width: 0px; height: 0px; border-style: solid; }
.load-pdf a:after { top: -3px; right: -3px; border-width: 36px 0 0 36px; border-color: white white white #adadad; }
.load-pdf a:before { position: absolute; top: 4px; right: 4px; border-width: 26px 0 0 26px; border-color: transparent transparent transparent white; z-index: 5; }
.load-pdf a strong { font-weight: normal; color: black; text-decoration: underline; }
.load-pdf a span { display: block; margin-top: 10px; line-height: 1; font-family: "pfdin_light", Calibri, Arial, sans-serif; font-size: 30px; text-transform: uppercase; text-decoration: none; color: #858585; }
